{% extends 'base.html' %}

{% block content %}
<div id="main_container">
    <div id="canva_container">

        <div id="frame_counter">156</div>
        <div id="mouse_position">(0,0)</div>
        <div id="pixel_value">0.8</div>

        <canvas id="main_canvas" width="300" height="500"></canvas>

        
        <div id="progress_bar"></div>
        <div id="progress_bar_cursor"></div>
        <div id="keyframe_bar"></div>
        <div class="keyframe"></div>

    </div>

    <div class="control panel">
        

    </div>
</div>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}
